<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 
		<context:component-scan/> 태그를 사용하여 특정 패키지 안의 클래스들을 스캔하고 
		annotation을 확인 후 bean을 생성합니다.
		@Component 등 붙은 빈 생성 표시자(애노테이션)가 있는 클래스를 객체로 생성합니다.
		
		<context:component-scan/>를 선언하면 자동으로 
		<context:annotation-config/> 태그의 기능이 자동으로 활성화 되므로 
			<context:annotation-config/>를 제거합니다.
	 -->
	 
	<!-- com.naver.myhome1.sample4 패키지로 시작하는 모든 패키지를 스캔 대상에 포함해서 빈으로 등록합니다. -->
	<context:component-scan base-package="com.naver.myhome1.sample4"/>
	 
</beans>
