<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 이미 등록된 bean들의 annotation을 활성화 하기 위해 사용합니다. 
		 @Autowired, @Qualifier, @Resource annotation 인식합니다. -->
	<context:annotation-config />

	<!-- bean 생성합니다. -->
	<bean id="m"  class="com.naver.myhome1.sample2.MessageBeanEn"/>

	<bean id="m1" class="com.naver.myhome1.sample2.MessageBeanKo"/>

	<bean id="m2" class="com.naver.myhome1.sample2.MessageMultiple">
		<!-- @Autowired로 자동 주입되어 생략합니다.
		<property name="bean">
			<ref bean="m" />
		</property> -->
	</bean>
	
</beans>
